<a href="https://colab.research.google.com/github/Es-YES-Ye/Python/blob/main/%ED%86%B5%EA%B3%84%EB%B6%84%EC%84%9D_%EC%8B%9C%EA%B0%81%ED%99%94_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Series

In [4]:
import pandas as pd

s = pd.Series(seq_data)

In [5]:
s = pd.Series([1,2,3,4,5]) #인덱스와 함께 데이터 출력
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
print(s.values)

[1 2 3 4 5]

In [7]:
s=pd.Series(["홍길동", "나길동", "선우길동"])
print(s)

0     홍길동
1     나길동
2    선우길동
dtype: object

In [9]:
subjects=["국어", "영어", "수학"]
s=pd.Series([90,85,80], index=subjects)
print(s)

국어    90
영어    85
수학    80
dtype: int64

In [10]:
import numpy as np
s1 = pd.Series([np.nan, 10, 30])
s2 = pd.Series([None, 10, 30])
s3 = pd.Series([0, 10, 30])
s4 = pd.Series([-1, 10, 30])
print(s1)
print(s2)
print(s3)
print(s4)

0     NaN
1    10.0
2    30.0
dtype: float64
0     NaN
1    10.0
2    30.0
dtype: float64
0     0
1    10
2    30
dtype: int64
0    -1
1    10
2    30
dtype: int64

In [11]:
print(np.nan==np.nan) #값이 다르다.
print(None == None) 
print(np.nan is np.nan) #참조는 같다
print(None is None)

False
True
True
True

In [ ]:
a = [1,2,3]
b = [1,2,3]
c = a
print(a==b) #값을 비교
print(a is b) #참조를 비교
print(a==c) #값을 비교
print(a is c) #참조를 비교

#날짜 시퀀스

In [17]:
s=pd.date_range(start='2019-01-01', end='2022-02-28')
print(s)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2022-02-19', '2022-02-20', '2022-02-21', '2022-02-22',
               '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26',
               '2022-02-27', '2022-02-28'],
              dtype='datetime64[ns]', length=1155, freq='D')

In [18]:
s=pd.date_range(start='2019-01-01', end='2022-02-28', freq='2B')
print(s)

DatetimeIndex(['2019-01-01', '2019-01-03', '2019-01-07', '2019-01-09',
               '2019-01-11', '2019-01-15', '2019-01-17', '2019-01-21',
               '2019-01-23', '2019-01-25',
               ...
               '2022-02-02', '2022-02-04', '2022-02-08', '2022-02-10',
               '2022-02-14', '2022-02-16', '2022-02-18', '2022-02-22',
               '2022-02-24', '2022-02-28'],
              dtype='datetime64[ns]', length=413, freq='2B')

In [19]:
s=pd.date_range(start='2019-01-01', end='2022-02-28', freq='2W') #시퀀싱을 다르게 주기
print(s)

DatetimeIndex(['2019-01-06', '2019-01-20', '2019-02-03', '2019-02-17',
               '2019-03-03', '2019-03-17', '2019-03-31', '2019-04-14',
               '2019-04-28', '2019-05-12', '2019-05-26', '2019-06-09',
               '2019-06-23', '2019-07-07', '2019-07-21', '2019-08-04',
               '2019-08-18', '2019-09-01', '2019-09-15', '2019-09-29',
               '2019-10-13', '2019-10-27', '2019-11-10', '2019-11-24',
               '2019-12-08', '2019-12-22', '2020-01-05', '2020-01-19',
               '2020-02-02', '2020-02-16', '2020-03-01', '2020-03-15',
               '2020-03-29', '2020-04-12', '2020-04-26', '2020-05-10',
               '2020-05-24', '2020-06-07', '2020-06-21', '2020-07-05',
               '2020-07-19', '2020-08-02', '2020-08-16', '2020-08-30',
               '2020-09-13', '2020-09-27', '2020-10-11', '2020-10-25',
               '2020-11-08', '2020-11-22', '2020-12-06', '2020-12-20',
               '2021-01-03', '2021-01-17', '2021-01-31', '2021-02-14',
               '2021-02-28', '2021-03-14', '2021-03-28', '2021-04-11',
               '2021-04-25', '2021-05-09', '2021-05-23', '2021-06-06',
               '2021-06-20', '2021-07-04', '2021-07-18', '2021-08-01',
               '2021-08-15', '2021-08-29', '2021-09-12', '2021-09-26',
               '2021-10-10', '2021-10-24', '2021-11-07', '2021-11-21',
               '2021-12-05', '2021-12-19', '2022-01-02', '2022-01-16',
               '2022-01-30', '2022-02-13', '2022-02-27'],
              dtype='datetime64[ns]', freq='2W-SUN')

#DataFrame

df = pd.DataFrame(data)
data는 matrix 형태

In [21]:
df = pd.DataFrame([["남궁길", 90, 80, 70],["독고길", 70, 89, 40]]) #인덱스와 컬럼스가 데이터와 함께 출력
print(df)

     0   1   2   3
0  남궁길  90  80  70
1  독고길  70  89  40

In [22]:
print(df.index)

RangeIndex(start=0, stop=2, step=1)

In [23]:
print(df.columns)

RangeIndex(start=0, stop=4, step=1)

In [24]:
print(df.values)

[['남궁길' 90 80 70]
 ['독고길' 70 89 40]]

In [29]:
nums=[1,2]
cnames=["이름", "국어", "수학", "영어"]
df = pd.DataFrame([["남궁길", 90, 80, 70],["독고길", 70, 89, 40]],index=nums, columns=cnames)
print(df)

    이름  국어  수학  영어
1  남궁길  90  80  70
2  독고길  70  89  40

In [34]:
table_data = {"연도" : [2019, 2020, 2021],
              "가격" : [100, 1, 20],
               "매출" : [100, 140, 210]}
df = pd.DataFrame(table_data)
print(df)

     연도   가격   매출
0  2019  100  100
1  2020    1  140
2  2021   20  210

In [31]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      3 non-null      int64
 1   매출      3 non-null      int64
dtypes: int64(2)
memory usage: 176.0 bytes
None

In [35]:
print(df.describe())

           연도          가격          매출
count     3.0    3.000000    3.000000
mean   2020.0   40.333333  150.000000
std       1.0   52.538874   55.677644
min    2019.0    1.000000  100.000000
25%    2019.5   10.500000  120.000000
50%    2020.0   20.000000  140.000000
75%    2020.5   60.000000  175.000000
max    2021.0  100.000000  210.000000

#Series 데이터 연산

In [36]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([7,8,9,10,11])
s3 = s1+s2
print(s1)
print(s2)
print(s3)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     7
1     8
2     9
3    10
4    11
dtype: int64
0     8
1    10
2    12
3    14
4    16
dtype: int64

In [37]:
#연산
s1 = pd.Series([1,2,3,4], index=['a','b','c','d'])
s2 = pd.Series([2,3,7,8], index=['a','c','d','e'])
s3 = s1+s2
print(s3)

a     3.0
b     NaN
c     6.0
d    11.0
e     NaN
dtype: float64

#Dataframe 데이터 연산

In [39]:
data1 = {"독고길" : [90, 85, 70],
        "남궁길" : [99, 80, 75],
        "선우길" : [100, 99, 92]}
df1 = pd.DataFrame(data1)

In [43]:
data2 = {"독고길" : [99, 95, 80],
        "남궁길" : [100, 45, 90],
        "선우길" : [88, 100, 92]}
df2 = pd.DataFrame(data2)

In [44]:
print(df1)
print(df2)

   독고길  남궁길  선우길
0   90   99  100
1   85   80   99
2   70   75   92
   독고길  남궁길  선우길
0   99  100   88
1   95   45  100
2   80   90   92

In [45]:
df3=df1+df2
print(df3)

   독고길  남궁길  선우길
0  189  199  188
1  180  125  199
2  150  165  184

In [46]:
df.describe()

           연도          가격          매출
count     3.0    3.000000    3.000000
mean   2020.0   40.333333  150.000000
std       1.0   52.538874   55.677644
min    2019.0    1.000000  100.000000
25%    2019.5   10.500000  120.000000
50%    2020.0   20.000000  140.000000
75%    2020.5   60.000000  175.000000
max    2021.0  100.000000  210.000000

In [55]:
df3.mean()

독고길    173.000000
남궁길    163.000000
선우길    190.333333
dtype: float64

In [48]:
df3.std()

독고길    20.420578
남궁길    37.040518
선우길     7.767453
dtype: float64

In [49]:
df3.var()

독고길     417.000000
남궁길    1372.000000
선우길      60.333333
dtype: float64

In [57]:
df3.mean(axis=1)

0    192.000000
1    168.000000
2    166.333333
dtype: float64

df.head([n])앞쪽 데이터를 확인 (디폴트 n=5)

df.tail([n])뒤쪽 데이터를 확인 (디폴트 n=5)

In [56]:
df3.head(2)

   독고길  남궁길  선우길
0  189  199  188
1  180  125  199

In [58]:
df = pd.read_csv('/content/drive/MyDrive/module/Iris.csv')
print(df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [59]:
df.tail(3)

     sepal.length  sepal.width  petal.length  petal.width    variety
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [60]:
df.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [61]:
df[50:55]

    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor

In [62]:
 #loc는 판다스 초기 버전에서는 지원하지 않았다.
df.loc[50]

sepal.length           7.0
sepal.width            3.2
petal.length           4.7
petal.width            1.4
variety         Versicolor
Name: 50, dtype: object

In [63]:
df.loc[50:55]

    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor
55           5.7          2.8           4.5          1.3  Versicolor

In [64]:
print(df['petal.length'][0]) #column 먼저 넣어야 한다.
#print(df[0]['petal.length'])

1.4

In [67]:
print(df.loc[0]['petal.length']) #loc 로 하면 row 먼저 접근할 수 있다.
print(df.loc[0, 'petal.length'])

1.4
1.4

In [68]:
df.T

                 0       1       2    ...        147        148        149
sepal.length     5.1     4.9     4.7  ...        6.5        6.2        5.9
sepal.width      3.5     3.0     3.2  ...        3.0        3.4        3.0
petal.length     1.4     1.4     1.3  ...        5.2        5.4        5.1
petal.width      0.2     0.2     0.2  ...        2.0        2.3        1.8
variety       Setosa  Setosa  Setosa  ...  Virginica  Virginica  Virginica

[5 rows x 150 columns]

#데이터 통합하기

In [72]:
data = {"국어" : [100, 38, 45, 89],
       "영어" : [90, 80, 75, 70]}
df1 = pd.DataFrame(data)
print(df1)

    국어  영어
0  100  90
1   38  80
2   45  75
3   89  70

In [73]:
data2 = {"국어" : [70, 80],
       "영어" : [75, 100]}
df2 = pd.DataFrame(data2)
print(df2)

   국어   영어
0  70   75
1  80  100

In [74]:
df1.append(df2)
print(df1)

    국어  영어
0  100  90
1   38  80
2   45  75
3   89  70

In [76]:
rdf = df1.append(df2)
print(rdf) #반환할 때 변수에 넣어줘야 한다. 변화된 객체를 반환
print()
print(df1) #df1은 변화가 없다

    국어   영어
0  100   90
1   38   80
2   45   75
3   89   70
0   70   75
1   80  100

    국어  영어
0  100  90
1   38  80
2   45  75
3   89  70

In [77]:
rdf=df.append(df2, ignore_index=True) #default는 false
print(rdf)

    국어   영어
0  100   90
1   38   80
2   45   75
3   89   70
4   70   75
5   80  100

In [78]:
data3 = {"국어" : [75, 80]}
df3 = pd.DataFrame(data3)
print(df3)

   국어
0  75
1  80

In [79]:
print(df)

    국어  영어
0  100  90
1   38  80
2   45  75
3   89  70

In [80]:
rdf = df.append(df3)
print(rdf)

    국어    영어
0  100  90.0
1   38  80.0
2   45  75.0
3   89  70.0
0   75   NaN
1   80   NaN

In [81]:
data4 = {"수학" : [90,85,88]}
df4 = pd.DataFrame(data4)
print(df4)

   수학
0  90
1  85
2  88

In [82]:
rdf = df.join(df4)
print(rdf)

    국어  영어    수학
0  100  90  90.0
1   38  80  85.0
2   45  75  88.0
3   89  70   NaN

#결측치 표현

In [85]:
value = np.nan
print(value)

nan

In [86]:
value2 = None
print(value2)

None

In [87]:
se1 = pd.Series(['남궁길', '선우길', np.nan, '독고길'])
se1.isnull() #결측치 여부 확인

0    False
1    False
2     True
3    False
dtype: bool

In [89]:
#se1.info()
se1[0] = np.nan
print(se1)

0    NaN
1    선우길
2    NaN
3    독고길
dtype: object

In [90]:
se1[1] = None
print(se1)

0     NaN
1    None
2     NaN
3     독고길
dtype: object

In [91]:
se1.isnull()

0     True
1     True
2     True
3    False
dtype: bool

In [92]:
#전처리 과정에서 결측 데이터 제외하기
se2=se1.dropna()
print(se2)

3    독고길
dtype: object

In [93]:
se1.notnull()

0    False
1    False
2    False
3     True
dtype: bool

In [94]:
se3=se1[se1.notnull()]
print(se3)

3    독고길
dtype: object

In [95]:
df1 = pd.DataFrame([[1, np.nan, 3,4], [np.nan,np.nan,np.nan,np.nan], [3,4,1,1]])
print(df1)

     0    1    2    3
0  1.0  NaN  3.0  4.0
1  NaN  NaN  NaN  NaN
2  3.0  4.0  1.0  1.0

In [96]:
#하나라도 결측치일 때 해당 Row(index)를 삭제
df2=df1.dropna()
print(df2)

     0    1    2    3
2  3.0  4.0  1.0  1.0

In [97]:
#모든 컬럼이 결측치일 때 해당 Row(index)를 삭제하세요.
df3 = df1.dropna(how='all')
print(df3)

     0    1    2    3
0  1.0  NaN  3.0  4.0
2  3.0  4.0  1.0  1.0

In [100]:
print(df1)
print()
print(df3)

     0    1    2    3
0  1.0  NaN  3.0  4.0
1  NaN  NaN  NaN  NaN
2  3.0  4.0  1.0  1.0

     0    1    2    3
0  1.0  NaN  3.0  4.0
2  3.0  4.0  1.0  1.0

In [101]:
df4 = df1.dropna(axis=1)
print(df4)

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [102]:
df5 = df1.fillna(0)
print(df5)

     0    1    2    3
0  1.0  0.0  3.0  4.0
1  0.0  0.0  0.0  0.0
2  3.0  4.0  1.0  1.0