<a href="https://colab.research.google.com/github/Es-YES-Ye/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B0%9D%EC%B2%B4%EC%99%80_%ED%81%B4%EB%9E%98%EC%8A%A4_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class JSS:
  def __init__(self):
    self.name=input("이름 : ")
    self.age=input("나이 : ")
  def show(self):
    print(f"나의 이름은 {self.name} , 나이는 {self.age} 세입니다.")

In [7]:
class JSS2(JSS):
  def __init__(self):
    super().__init__()
    self.gender = input("성별 : ")

In [4]:
a=JSS()

이름 : 홍길동
나이 : 20

In [5]:
a.show()

나의 이름은 홍길동 , 나이는 20 세입니다.

In [8]:
b = JSS2()

이름 : 나길동
나이 : 45
성별 : 남

In [9]:
b.show()

나의 이름은 나길동 , 나이는 45 세입니다.

In [10]:
#클래스 정의

class Book(object):
  author=""
  title=""
  publisher=""
  date=""

In [11]:
#인스턴스 만들기 Book()이라는 클래스를 book이라는 인스턴스로 할당받았다.

book = Book()
book.author = "Yesys" #book이라는 인스턴스에 author라는 속성값에다 ""의 문자열을 집어넣은 것이다.

In [13]:
print(book.author)

Yesys

In [14]:
book.title = "python"

In [24]:
#클래스의 메소드 정의

class Book(object):
  author=""
  title=""
  publisher=""
  date=""

#self가 있어야지만 실제로 인스턴스가 사용할 수 있는 메소드로 선언
  def print_info(self):
    print(f"{self.author} 의 책 제목은 '{self.title}' 입니다.")

In [25]:
book = Book()
book.author = "why"
book.title = "모든 게 궁금해" #여기서 book을 class 메소드에 들어간 self라고 생각하면 편하다
book.print_info() #메소드호출

why 의 책 제목은 '모든 게 궁금해' 입니다.

In [27]:
#인스턴스 속성

class Book(object):
  author=""
  title=""
  publisher=""
  date=""

  def print_info(self):
    print(f"{self.author} 의 책 제목은 '{self.title}' 입니다.")
    print(f"출판사 : {self.publisher}")
    print(f"출판일 : {self.date}")

In [30]:
b1 = Book()
b1.author = "나"
b1.title = "나에 대한 모든 것"
b1.publisher = "우리집"
b1.date="2022-02-27"
b1.print_info()

나 의 책 제목은 '나에 대한 모든 것' 입니다.
출판사 : 우리집
출판일 : 2022-02-27

In [ ]:
#클래스 속성
class Book(object):
  author=""
  title=""
  publisher=""
  date=""

  def print_info(self):
    print(f"{self.author} 의 책 제목은 '{self.title}' 입니다.")
    print(f"출판사 : {self.publisher}")
    print(f"출판일 : {self.date}")

In [31]:
b1 = Book()
Book.author = "나" #클래스 속성으로도 접근할 수 있다.
Book.title = "나에 대한 모든 것"
Book.publisher = "우리집"
Book.date="2022-02-27"
b1.print_info()

나 의 책 제목은 '나에 대한 모든 것' 입니다.
출판사 : 우리집
출판일 : 2022-02-27

In [32]:
#인스턴스 속성과 클래스 속성

class Book(object):
  author=""
  title=""
  publisher=""
  date=""
  count=0

  def print_info(self):
    print(f"{self.author} 의 책 제목은 '{self.title}' 입니다.")
    print(f"출판사 : {self.publisher}")
    print(f"출판일 : {self.date}")

In [34]:
b1 = Book()
Book.count += 1
b1.author = "나"
b1.title = "나에 대한 모든 것"
b1.publisher = "우리집"
b1.date="2022-02-27"
b1.print_info()
print("책 수량 : ", str(Book.count))

나 의 책 제목은 '나에 대한 모든 것' 입니다.
출판사 : 우리집
출판일 : 2022-02-27
책 수량 :  2

In [47]:
#__init__() 메소드 이용해서 클래스 속성 초기화
class Book(object):
  count=0

  def __init__(self, author, title, publisher, date):
    self.author = author
    self.title = title
    self.publisher = publisher
    self.date = date
    Book.count += 1 #생성될 때마다 하나씩 증가

  def print_info(self):
    print(f"{self.author} 의 책 제목은 '{self.title}' 입니다.")
    print(f"출판사 : {self.publisher}")
    print(f"출판일 : {self.date}")

In [48]:
book = Book("나", "나에 대하여", "우리집", "2022-02-27")
book.print_info()
print("책 수량 : ", str(Book.count))

나 의 책 제목은 '나에 대하여' 입니다.
출판사 : 우리집
출판일 : 2022-02-27
책 수량 :  1

In [44]:
#__init__() 메소드 이용해서 클래스 속성 초기화
class Book(object):
  count=0

  def __init__(self, author, title, publisher, date):
    self.author = author
    self.title = title
    self.publisher = publisher
    self.date = date
    Book.count += 1 #생성될 때마다 하나씩 증가

  def __str__(self):
    return("Author : " + self.author + \
           "\nTitle : " + self.title + \
           "\nPublisher : " + self.publisher + \
           "\nDate : " + self.date)

In [45]:
book = Book("나", "나에 대하여", "우리집", "2022-02-27")
print(book)
print("책 수량 : ", str(Book.count))

Author : 나
Title : 나에 대하여
Publisher : 우리집
Date : 2022-02-27
책 수량 :  1