<a href="https://colab.research.google.com/github/Es-YES-Ye/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%95%A8%EC%88%98_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
folder='/content/drive/MyDrive/새싹프로그램_파이썬데이터/'

In [3]:
#표데이터

members = [
           ["남궁길동", 90, 85, 88],
           ["제갈길동", 80, 90, 88],
           ["독고길동", 90, 95, 100]
          ]

In [4]:
fname = folder+"mscores.csv"
fname

'/content/drive/MyDrive/새싹프로그램_파이썬데이터/mscores.csv'


with open(fname, 'w') as fs:
print("um")

**위와 같은 코드**

fs=open(fname, 'w')
print("um")
fs.close()

In [6]:

#with open(fname, 'w') as fs:
#  print("um")

#헤더를 확인해야한다.
#raw한 파일 입출력

fs=open(fname, 'w')
for member in members:
  fs.write(f"{member[0]}, {member[1]}, {member[2]}, {member[3]}\n")
fs.close()

In [ ]:
# 더 간단하다
#csv 모듈 이용해서

import csv
fname2 = folder+"mscores2.csv"
fs = open(fname2, 'w', newline='')
sw=csv.writer(fs,delimiter=',')
for member in members:
  sw.writerow(member)
fs.close()

In [8]:
#위와 같은 의미
#csv 모듈 이용해서

import csv
fname2 = folder+"mscores2.csv"
with open(fname2, 'w', newline='') as csvfile:
  sw=csv.writer(csvfile, delimiter=',')
  for member in members:
    sw.writerow(member)

#파이썬표준기구에서 제공하는 메뉴얼 사이트

https://docs.python.org/ko/3/library/csv.html


fs.write(f"{member[0]}, {member[1]}, {member[2]}, {member[3]}\n")

sw.writerow(member)

In [9]:
#읽어오기

fs = open(fname, 'r')
data = fs.read()
fs.close()
print(data)

남궁길동, 90, 85, 88
제갈길동, 80, 90, 88
독고길동, 90, 95, 100

None
null
nill

In [11]:
fs = open(fname, 'r')
while True:
  record = fs.readline()
  if record=="":
    break
  record = record.replace("\n","")
  sdata=record.split(',') #, 를 기준으로 split
  rs=[]
  rs.append(sdata[0])
  for i in range(1,4):
    rs.append(int(sdata[i]))
  members.append(rs)
fs.close()
print(members)

[['남궁길동', 90, 85, 88], ['제갈길동', 80, 90, 88], ['독고길동', 90, 95, 100], ['남궁길동', 90, 85, 88], ['제갈길동', 80, 90, 88], ['독고길동', 90, 95, 100]]

In [12]:
import csv
fs = open(fname, 'r', newline='')
reader = csv.reader(fs)
for row in reader:
  print(row)
fs.close()

['남궁길동', ' 90', ' 85', ' 88']
['제갈길동', ' 80', ' 90', ' 88']
['독고길동', ' 90', ' 95', ' 100']

In [13]:
import pandas as pd
members = pd.read_csv(fname, header = None)
members

      0   1   2    3
0  남궁길동  90  85   88
1  제갈길동  80  90   88
2  독고길동  90  95  100