<a href="https://colab.research.google.com/github/Es-YES-Ye/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%95%A8%EC%88%98(%EA%B3%A0%EA%B8%89).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#튜플

여러 개의 요소로 구성한 컬렉션

요소의 값을 변경할 수 없다.

In [1]:
t1=(1,2,3)
print(type(t1))

<class 'tuple'>

In [ ]:
print(t1[0])

In [5]:
#요소개수만큼 변수 선언하면 대입할 수 있다

a,b=(2,3)
print(a,b)

2 3

In [6]:
t=1,2,3,4
print(type(t))

<class 'tuple'>

In [7]:
a,b,c=1,2,3
print(type(a)) #요소 값을 물어본 것

<class 'int'>

In [8]:
#값 교환하기

a=2
b=3
print(a,b)
a,b=b,a
print(a,b)

2 3
3 2

In [ ]:
#t1[0]=7 tuple은 요소의 값을 변경할 수 없다.

In [2]:
#여러 개의 값을 반환할 수 있다.
#반환하는 개수만큼 변수에 넣어서...

def get_sum_average(numbers):
  s=0
  for number in numbers:
    s+=number
  return s, s/len(numbers)

In [3]:
s, aver = get_sum_average([1,2,4,3,54,5,6])
print(f"합계 : {s}  평균 : {aver:.2f}")

합계 : 75  평균 : 10.71

In [4]:
#하나 변수에 여러 개 값이 들어가면 내부적으로 튜플을 반환한다.

re = get_sum_average([1,2,4,3,54,5,6])
print(re)

(75, 10.714285714285714)

# 람다

In [9]:
def square(x):
  return x*x

In [10]:
#위의 square 함수와 같은 역할

sq=lambda x:x*x

In [11]:
def foo(x):
  print(f"foo({x})")
  return 2*x

In [14]:
#첫번째 인자로 함수가 가고 두번째 인자로 목록,list가 간다.
#함수 호출을 반복해준다. mapping 시켜서
#리턴한 값의 목록이 반환된다

re = map(foo,[1,2,3,4])

for e in re:
  print(e)

#print(list(re))

foo(1)
2
foo(2)
4
foo(3)
6
foo(4)
8

In [15]:
#람다식도 수행 가능

re = map(sq,[1,2,3,4])

for e in re:
  print(e)

1
4
9
16

In [16]:
re = map(lambda x:x+2, [1,2,3,4])
for e in re:
  print(e)

3
4
5
6

In [18]:
def is_odd(x):
  return x%2==1

In [19]:
#filter 참이 되는 요소들만 남는 것

re = filter(is_odd, [1,2,3,4,5,6,7,8,9,10,23,45,66])
for e in re:
  print(e)

1
3
5
7
9
23
45

In [20]:
#람다식을 사용

re = filter(lambda x:x%2==1, [1,2,3,4,5,6,7,8,9,10,23,45,66])
for e in re:
  print(e)

1
3
5
7
9
23
45