<a href="https://colab.research.google.com/github/Es-YES-Ye/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%9E%90%EB%A3%8C%ED%98%95_%EC%88%AB%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter2_2 숫자

정수

In [1]:
print(12, 0o12, 0x12) #12:십진수, 0o12:8진수, 0x12:16진수

12 10 18

In [3]:
print(type(12), type(0o12), type(0x12))

<class 'int'> <class 'int'> <class 'int'>

# 실수

In [4]:
print(3.14, 1.234e6) #3.14:부동 소수점 표기, 1.234e6: 지수 표현 e6 은 10의 6승이라는 뜻

3.14 1234000.0

In [5]:
print(type(3.14), type(1.234e6))

<class 'float'> <class 'float'>

# 수와 관계있는 연산

In [6]:
print("8+3 =", 8+3 )
print("8-3 =", 8-3 )
print("8*3 =", 8*3 )
print("8/3 =", 8/3 )

8+3 = 11
8-3 = 5
8*3 = 24
8/3 = 2.6666666666666665

In [7]:
print("8//5 = ", 8//5) #몫
print("8%5 = ", 8%5) #나머지

8//5 =  1
8%5 =  3

In [9]:
i = 0
i = (i+1)%5
print(i)
i = (i+1)%5
print(i)
i = (i+1)%5
print(i)
i = (i+1)%5
print(i)
i = (i+1)%5
print(i)
i = (i+1)%5
print(i)
i = (i+1)%5
print(i)
i = (i+1)%5
print(i)
#로테이션 목적으로 사용

1
2
3
4
0
1
2
3

# 복소수

In [10]:
print(2+3j)

(2+3j)

In [11]:
cv = 2+3j
print("실수부 : ", cv.real, "허수부", cv.imag)

실수부 :  2.0 허수부 3.0