<a href="https://colab.research.google.com/github/Es-YES-Ye/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EB%94%A5%EB%9F%AC%EB%8B%9D_%EC%B4%9D%EA%B4%84(%EB%A6%AC%EC%8A%A4%ED%8A%B8%2C%EB%AA%A8%EB%93%88).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

리스트

In [ ]:
ls1 = [x for x in range(10)]
ls2 = [x for x in range(10) if x%2 == 0]
ls3 = [x if x%2 == 0 else (-1) for x in range(10)]

ls1, ls2, ls3

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 2, 4, 6, 8],
 [0, -1, 2, -1, 4, -1, 6, -1, 8, -1])

In [ ]:
def calculate(xs):
  s =0
  for x in xs:
    s += x
  return s, s/len(xs)

In [ ]:
s,_ = calculate([1,2,3,4,5,6,7,8,9,10])
print(f"합계:{s:010d}")

합계:0000000055

In [ ]:
data = 2,3
print(type(data))

<class 'tuple'>

In [ ]:
a,b = data
a,b

(2, 3)

In [8]:
import sys
sys.path.append('/content/')

In [9]:
import foo

In [10]:
foo.A()

A

from 모듈이름 import 모듈 내에 있는 것 중에 간단히 사용할 이름

In [11]:
import soo

In [12]:
s = soo.Soo()

Soo

In [13]:
from soo import Soo

In [14]:
s = Soo()

Soo

대표 모듈

In [15]:
import numpy as np

In [17]:
ls1 = [1,2,3,4]
ls2 = [3,4,5,6]

ls3 = ls1+ls2 # + 연산은 제공하지만 행렬 간의 더하기 연산은 아님
ls3

[1, 2, 3, 4, 3, 4, 5, 6]

In [ ]:
#ls3 = ls2-ls1 행렬 사이의 빼기 연산 제공하지 않음

In [18]:
ls3 = ls1*4 # * 연산도 행렬과 정수 사이의 연산이 아님
ls3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [20]:
ar1= np.array(ls1)
ar2= np.array(ls2)
ar3 = ar1 + ar2
ar3

array([ 4,  6,  8, 10])

In [21]:
ar3 = ar1 + ar2 #행렬 사이의 + 연산 제공
ar3

array([ 4,  6,  8, 10])

In [22]:
ar3 = ar2 - ar1 #행렬 사이의 - 연산 제공
ar3

array([2, 2, 2, 2])

In [23]:
ar3 = ar2*4 #행렬과 정수 사이의 x 연산 제공
ar3

array([12, 16, 20, 24])

In [24]:
ar3 = ar1 @ ar2 #행렬과 행렬 사이의 내적 연산
ar3

50

In [25]:
ar3 = ar1 * ar2 #행렬 사이의 곱하기 연산
ar3

array([ 3,  8, 15, 24])

In [26]:
ar3 = ar1.dot(ar2) #내적
ar3

50

In [27]:
ls = [[1,2,3], [2], [4,5,6,7,8]]
ls

[[1, 2, 3], [2], [4, 5, 6, 7, 8]]

In [28]:
ar = np.arange(100)
ar.shape

(100,)

In [29]:
ar2 = ar.reshape(2, 50)
ar2.shape

(2, 50)

In [30]:
ar2.dtype

dtype('int64')

In [32]:
ar = np.array([1,2,3,5.])
print(type(ar[0]))

<class 'numpy.float64'>

In [33]:
ls = [1,2,3,5.]
print(type(ls[0]))

<class 'int'>

In [36]:
ar = np.random.randn(1000)
ar.sum(), ar.mean(), np.median(ar), np.quantile(ar, 0.25)

(-19.20314279082759,
 -0.01920314279082759,
 0.028496062181171095,
 -0.6599604783091989)

In [37]:
ar1 = [1,2,3,4]
ar2 = [4,5,6,7]
cv = np.cov(ar1, ar2)
print(cv[0,0]) #ar1과 ar1 사이의 공분산
print(cv[0,1]) #ar1과 ar2 사이의 공분산
print(cv[1,0]) #ar2과 ar1 사이의 공분산
print(cv[1,1]) #ar2과 ar2 사이의 공분산

array([[1.66666667, 1.66666667],
       [1.66666667, 1.66666667]])

In [39]:
cv[0,1]/(np.std(ar1)*np.std(ar2)) #상관계수

1.333333333333333

In [38]:
import pandas as pd

In [41]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [43]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [44]:
ar1 = np.array([1,2,3,-4,5,-2])
filter = ar1>=0
far = ar1[filter]
far

array([1, 2, 3, 5])

In [47]:
far = ar1[ar1>=0]
far

array([1, 2, 3, 5])

In [48]:
temp = ar1>=0
temp

array([ True,  True,  True, False,  True, False])

In [49]:
far = ar1[temp]
far

array([1, 2, 3, 5])

In [54]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [53]:
lt = df['latitude']
print(type(lt))
lt

<class 'pandas.core.series.Series'>

0       37.37
1       34.26
2       33.78
3       33.82
4       36.33
        ...
2995    34.42
2996    34.06
2997    36.30
2998    34.10
2999    34.42
Name: latitude, Length: 3000, dtype: float64

In [58]:
t_rd = df[['total_rooms','total_bedrooms']]
print(type(t_rd))
t_rd

<class 'pandas.core.frame.DataFrame'>

      total_rooms  total_bedrooms
0          3885.0           661.0
1          1510.0           310.0
2          3589.0           507.0
3            67.0            15.0
4          1241.0           244.0
...           ...             ...
2995       1450.0           642.0
2996       5257.0          1082.0
2997        956.0           201.0
2998         96.0            14.0
2999       1765.0           263.0

[3000 rows x 2 columns]

In [60]:
rd_arr = t_rd.to_numpy()
print(type(rd_arr))
rd_arr

<class 'numpy.ndarray'>

array([[3885.,  661.],
       [1510.,  310.],
       [3589.,  507.],
       ...,
       [ 956.,  201.],
       [  96.,   14.],
       [1765.,  263.]])

In [61]:
ls = rd_arr.tolist()
print(type(ls))
ls

<class 'list'>

[[3885.0, 661.0],
 [1510.0, 310.0],
 [3589.0, 507.0],
 [67.0, 15.0],
 [1241.0, 244.0],
 [1018.0, 213.0],
 [1009.0, 225.0],
 [2310.0, 471.0],
 [3080.0, 617.0],
 [2402.0, 632.0],
 [972.0, 249.0],
 [736.0, 166.0],
 [1089.0, 182.0],
 [3936.0, 694.0],
 [2097.0, 325.0],
 [161.0, 40.0],
 [570.0, 123.0],
 [3077.0, 607.0],
 [1590.0, 196.0],
 [8814.0, 1307.0],
 [1445.0, 256.0],
 [1775.0, 296.0],
 [2994.0, 543.0],
 [2021.0, 528.0],
 [6131.0, 1040.0],
 [1401.0, 218.0],
 [3587.0, 1030.0],
 [2612.0, 418.0],
 [4845.0, 1609.0],
 [3078.0, 954.0],
 [1195.0, 220.0],
 [1617.0, 493.0],
 [3442.0, 705.0],
 [16181.0, 2971.0],
 [1067.0, 170.0],
 [2886.0, 726.0],
 [1560.0, 451.0],
 [1478.0, 251.0],
 [894.0, 203.0],
 [5785.0, 1035.0],
 [1562.0, 275.0],
 [2770.0, 406.0],
 [1980.0, 226.0],
 [848.0, 186.0],
 [1308.0, 286.0],
 [9998.0, 1874.0],
 [1212.0, 251.0],
 [1782.0, 338.0],
 [1649.0, 369.0],
 [7399.0, 1698.0],
 [9849.0, 1887.0],
 [554.0, 121.0],
 [2003.0, 500.0],
 [1589.0, 380.0],
 [1726.0, 333.0],
 [1287.0, 233.0],
 [3054.0, 528.0],
 [3038.0, 468.0],
 [1449.0, 291.0],
 [2650.0, 600.0],
 [805.0, 140.0],
 [1747.0, 317.0],
 [1062.0, 305.0],
 [1581.0, 299.0],
 [2830.0, 399.0],
 [3966.0, 768.0],
 [6473.0, 1212.0],
 [2290.0, 319.0],
 [3830.0, 750.0],
 [1691.0, 367.0],
 [2125.0, 382.0],
 [1582.0, 544.0],
 [1892.0, 442.0],
 [2400.0, 419.0],
 [1421.0, 291.0],
 [1186.0, 225.0],
 [2879.0, 631.0],
 [3051.0, 694.0],
 [6217.0, 858.0],
 [7274.0, 1002.0],
 [860.0, 130.0],
 [968.0, 384.0],
 [1583.0, 324.0],
 [7195.0, 1416.0],
 [1712.0, 509.0],
 [2875.0, 560.0],
 [1191.0, 190.0],
 [2769.0, 631.0],
 [1564.0, 345.0],
 [1619.0, 362.0],
 [1125.0, 341.0],
 [1013.0, 169.0],
 [1453.0, 270.0],
 [6755.0, 1017.0],
 [2935.0, 473.0],
 [1694.0, 312.0],
 [1745.0, 348.0],
 [1748.0, 322.0],
 [3118.0, 500.0],
 [1375.0, 457.0],
 [2120.0, 483.0],
 [5963.0, 1344.0],
 [3114.0, 430.0],
 [2281.0, 506.0],
 [2016.0, 505.0],
 [1590.0, 422.0],
 [3236.0, 588.0],
 [2307.0, 386.0],
 [1418.0, 439.0],
 [1514.0, 314.0],
 [1698.0, 297.0],
 [2141.0, 438.0],
 [2489.0, 481.0],
 [1606.0, 318.0],
 [1573.0, 471.0],
 [564.0, 96.0],
 [2874.0, 592.0],
 [1851.0, 238.0],
 [3540.0, 453.0],
 [324.0, 70.0],
 [4228.0, 1006.0],
 [2299.0, 579.0],
 [2949.0, 1003.0],
 [3412.0, 827.0],
 [4343.0, 515.0],
 [1829.0, 391.0],
 [2799.0, 618.0],
 [2615.0, 368.0],
 [2844.0, 623.0],
 [2513.0, 340.0],
 [1072.0, 331.0],
 [2742.0, 756.0],
 [3426.0, 769.0],
 [1164.0, 248.0],
 [2233.0, 563.0],
 [3562.0, 391.0],
 [2734.0, 501.0],
 [2025.0, 618.0],
 [3041.0, 677.0],
 [3298.0, 460.0],
 [7184.0, 1516.0],
 [1678.0, 606.0],
 [5661.0, 1209.0],
 [646.0, 134.0],
 [1554.0, 242.0],
 [1802.0, 459.0],
 [2415.0, 653.0],
 [1740.0, 351.0],
 [1341.0, 233.0],
 [2857.0, 662.0],
 [1140.0, 310.0],
 [1743.0, 349.0],
 [5799.0, 842.0],
 [3248.0, 847.0],
 [2077.0, 383.0],
 [3907.0, 671.0],
 [855.0, 284.0],
 [1729.0, 319.0],
 [3065.0, 658.0],
 [5743.0, 773.0],
 [3583.0, 642.0],
 [5192.0, 658.0],
 [1010.0, 350.0],
 [2034.0, 444.0],
 [4065.0, 841.0],
 [1481.0, 265.0],
 [2904.0, 515.0],
 [1906.0, 327.0],
 [1668.0, 307.0],
 [2493.0, 693.0],
 [1764.0, 397.0],
 [4519.0, 1081.0],
 [1108.0, 284.0],
 [2159.0, 416.0],
 [2010.0, 411.0],
 [2757.0, 713.0],
 [3449.0, 522.0],
 [2598.0, 443.0],
 [561.0, 109.0],
 [2387.0, 748.0],
 [1019.0, 191.0],
 [1461.0, 302.0],
 [6164.0, 1175.0],
 [2630.0, 446.0],
 [4563.0, 1187.0],
 [515.0, 229.0],
 [2128.0, 520.0],
 [796.0, 227.0],
 [2674.0, 428.0],
 [818.0, 269.0],
 [906.0, 187.0],
 [3225.0, 555.0],
 [1739.0, 370.0],
 [1169.0, 242.0],
 [2045.0, 398.0],
 [2204.0, 518.0],
 [1931.0, 445.0],
 [1276.0, 314.0],
 [2112.0, 363.0],
 [3262.0, 588.0],
 [767.0, 206.0],
 [1588.0, 333.0],
 [6445.0, 1839.0],
 [1189.0, 281.0],
 [787.0, 420.0],
 [667.0, 140.0],
 [1365.0, 276.0],
 [1892.0, 428.0],
 [2026.0, 548.0],
 [6379.0, 1636.0],
 [1115.0, 250.0],
 [5544.0, 1068.0],
 [4417.0, 740.0],
 [2053.0, 465.0],
 [1287.0, 224.0],
 [4576.0, 814.0],
 [5487.0, 1024.0],
 [3561.0, 691.0],
 [1066.0, 190.0],
 [2465.0, 585.0],
 [142.0, 31.0],
 [3166.0, 607.0],
 [1531.0, 357.0],
 [2113.0, 398.0],
 [172.0, 38.0],
 [2791.0, 496.0],
 [1194.0, 297.0],
 [736.0, 232.0],
 [1159.0, 209.0],
 [3602.0, 738.0],
 [3077.0, 465.0],
 [2936.0, 517.0],
 [2042.0, 378.0],
 [1165.0, 358.0],
 [4304.0, 851.0],
 [2534.0, 554.0],
 [1464.0, 211.0],
 [1932.0, 552.0],
 [768.0, 162.0],
 [3144.0, 694.0],
 [3835.0, 727.0],
 [1787.0, 236.0],
 [2235.0, 545.0],
 [1492.0, 284.0],
 [1183.0, 363.0],
 [3005.0, 771.0],
 [4013.0, 903.0],
 [9404.0, 1827.0],
 [1526.0, 339.0],
 [5876.0, 1406.0],
 [3280.0, 933.0],
 [1751.0, 438.0],
 [6055.0, 1004.0],
 [2864.0, 571.0],
 [4123.0, 874.0],
 [1931.0, 261.0],
 [4496.0, 756.0],
 [2762.0, 410.0],
 [1540.0, 364.0],
 [1607.0, 331.0],
 [1695.0, 290.0],
 [1212.0, 222.0],
 [2036.0, 414.0],
 [2587.0, 416.0],
 [681.0, 120.0],
 [2013.0, 568.0],
 [1482.0, 266.0],
 [1230.0, 262.0],
 [1934.0, 511.0],
 [674.0, 242.0],
 [6861.0, 1820.0],
 [2294.0, 411.0],
 [2521.0, 484.0],
 [2034.0, 423.0],
 [1918.0, 339.0],
 [1411.0, 292.0],
 [2290.0, 662.0],
 [2059.0, 462.0],
 [1160.0, 274.0],
 [5267.0, 1253.0],
 [1965.0, 354.0],
 [2456.0, 495.0],
 [3858.0, 1062.0],
 [2836.0, 490.0],
 [939.0, 176.0],
 [1314.0, 229.0],
 [2094.0, 316.0],
 [3771.0, 741.0],
 [2066.0, 450.0],
 [1439.0, 327.0],
 [2754.0, 477.0],
 [4216.0, 948.0],
 [24121.0, 4522.0],
 [1888.0, 429.0],
 [559.0, 139.0],
 [6842.0, 1512.0],
 [2634.0, 412.0],
 [225.0, 72.0],
 [3853.0, 541.0],
 [2854.0, 528.0],
 [3184.0, 716.0],
 [1510.0, 410.0],
 [2065.0, 532.0],
 [2339.0, 436.0],
 [1913.0, 486.0],
 [2183.0, 636.0],
 [1735.0, 347.0],
 [6016.0, 1404.0],
 [3863.0, 537.0],
 [1832.0, 539.0],
 [1595.0, 314.0],
 [1501.0, 299.0],
 [2807.0, 529.0],
 [3543.0, 1055.0],
 [1778.0, 320.0],
 [5205.0, 859.0],
 [2009.0, 469.0],
 [1436.0, 374.0],
 [2387.0, 570.0],
 [1260.0, 222.0],
 [2403.0, 516.0],
 [20354.0, 3493.0],
 [2789.0, 648.0],
 [6474.0, 1467.0],
 [1383.0, 459.0],
 [978.0, 202.0],
 [3320.0, 713.0],
 [2280.0, 610.0],
 [3301.0, 593.0],
 [2846.0, 516.0],
 [1477.0, 264.0],
 [1347.0, 282.0],
 [1563.0, 306.0],
 [1555.0, 369.0],
 [1179.0, 268.0],
 [2481.0, 586.0],
 [8561.0, 1411.0],
 [2474.0, 472.0],
 [1889.0, 407.0],
 [3813.0, 871.0],
 [1098.0, 317.0],
 [676.0, 216.0],
 [1081.0, 205.0],
 [1425.0, 317.0],
 [837.0, 213.0],
 [2144.0, 477.0],
 [2715.0, 581.0],
 [1565.0, 271.0],
 [2692.0, 477.0],
 [4120.0, 1065.0],
 [880.0, 154.0],
 [4105.0, 950.0],
 [2718.0, 438.0],
 [404.0, 96.0],
 [1613.0, 428.0],
 [4244.0, 595.0],
 [2127.0, 358.0],
 [4179.0, 784.0],
 [1922.0, 489.0],
 [1808.0, 315.0],
 [2589.0, 482.0],
 [1883.0, 419.0],
 [634.0, 152.0],
 [2261.0, 579.0],
 [505.0, 216.0],
 [1730.0, 460.0],
 [1821.0, 360.0],
 [2625.0, 673.0],
 [552.0, 161.0],
 [2259.0, 417.0],
 [1404.0, 379.0],
 [3553.0, 1060.0],
 [4670.0, 1185.0],
 [1731.0, 435.0],
 [305.0, 72.0],
 [1834.0, 390.0],
 [2892.0, 685.0],
 [1034.0, 319.0],
 [2668.0, 528.0],
 [2843.0, 652.0],
 [3181.0, 714.0],
 [5688.0, 930.0],
 [2553.0, 400.0],
 [913.0, 265.0],
 [2038.0, 629.0],
 [1417.0, 589.0],
 [1482.0, 345.0],
 [2708.0, 460.0],
 [1395.0, 373.0],
 [1819.0, 245.0],
 [721.0, 165.0],
 [2163.0, 470.0],
 [5287.0, 1048.0],
 [1089.0, 240.0],
 [2666.0, 450.0],
 [2554.0, 540.0],
 [2630.0, 617.0],
 [2894.0, 395.0],
 [1813.0, 410.0],
 [4915.0, 725.0],
 [1984.0, 379.0],
 [2693.0, 478.0],
 [3478.0, 730.0],
 [2613.0, 476.0],
 [2001.0, 302.0],
 [12779.0, 2441.0],
 [1552.0, 388.0],
 [1147.0, 243.0],
 [1907.0, 544.0],
 [3548.0, 956.0],
 [215.0, 87.0],
 [1826.0, 300.0],
 [1605.0, 314.0],
 [5919.0, 1278.0],
 [2199.0, 609.0],
 [1057.0, 276.0],
 [639.0, 179.0],
 [3306.0, 1025.0],
 [4289.0, 682.0],
 [1547.0, 372.0],
 [2063.0, 484.0],
 [2420.0, 579.0],
 [1606.0, 289.0],
 [4292.0, 1075.0],
 [284.0, 104.0],
 [1508.0, 263.0],
 [7000.0, 1185.0],
 [6203.0, 798.0],
 [1465.0, 306.0],
 [5762.0, 1115.0],
 [1772.0, 332.0],
 [1922.0, 339.0],
 [1485.0, 236.0],
 [2755.0, 519.0],
 [677.0, 370.0],
 [1564.0, 298.0],
 [1653.0, 325.0],
 [963.0, 216.0],
 [984.0, 176.0],
 [2477.0, 458.0],
 [2196.0, 486.0],
 [2750.0, 664.0],
 [2182.0, 406.0],
 [4460.0, 930.0],
 [3445.0, 661.0],
 [4742.0, 775.0],
 [4050.0, 745.0],
 [4418.0, 704.0],
 [1092.0, 302.0],
 [593.0, 137.0],
 [2869.0, 567.0],
 [3677.0, 627.0],
 [2386.0, 396.0],
 [2795.0, 496.0],
 [1183.0, 196.0],
 [944.0, 200.0],
 [2394.0, 568.0],
 [2419.0, 437.0],
 [1030.0, 161.0],
 [1814.0, 320.0],
 [2034.0, 470.0],
 [3628.0, 546.0],
 [2520.0, 726.0],
 [1047.0, 227.0],
 [2231.0, 421.0],
 [5096.0, 1011.0],
 [1386.0, 260.0],
 [1675.0, 373.0],
 [2472.0, 408.0],
 [698.0, 232.0],
 [2170.0, 430.0],
 [5108.0, 1510.0],
 [1438.0, 348.0],
 [3057.0, 510.0],
 [2577.0, 360.0],
 [1546.0, 287.0],
 [1844.0, 382.0],
 [3762.0, 1281.0],
 [1425.0, 438.0],
 [1382.0, 327.0],
 [3998.0, 744.0],
 [2089.0, 303.0],
 [954.0, 233.0],
 [414.0, 86.0],
 [1425.0, 283.0],
 [2197.0, 369.0],
 [1345.0, 230.0],
 [872.0, 203.0],
 [961.0, 199.0],
 [1531.0, 278.0],
 [1222.0, 282.0],
 [1337.0, 187.0],
 [1664.0, 292.0],
 [1977.0, 264.0],
 [5764.0, 1006.0],
 [158.0, 43.0],
 [3079.0, 558.0],
 [1235.0, 385.0],
 [1968.0, 472.0],
 [1744.0, 536.0],
 [3053.0, 635.0],
 [2436.0, 612.0],
 [2075.0, 262.0],
 [5377.0, 1005.0],
 [2101.0, 514.0],
 [762.0, 147.0],
 [2139.0, 260.0],
 [3257.0, 752.0],
 [1986.0, 472.0],
 [3823.0, 584.0],
 [3353.0, 544.0],
 [1746.0, 447.0],
 [1310.0, 364.0],
 [2077.0, 564.0],
 [2745.0, 782.0],
 [2970.0, 547.0],
 [1750.0, 372.0],
 [6108.0, 1130.0],
 [1771.0, 378.0],
 [114.0, 26.0],
 [1587.0, 268.0],
 [2102.0, 358.0],
 [1339.0, 328.0],
 [7446.0, 1979.0],
 [1005.0, 314.0],
 [1651.0, 309.0],
 [4507.0, 751.0],
 [4501.0, 832.0],
 [2311.0, 536.0],
 [1174.0, 249.0],
 [1777.0, 513.0],
 [2898.0, 335.0],
 [1206.0, 256.0],
 [3616.0, 631.0],
 [1462.0, 241.0],
 [1503.0, 298.0],
 [3404.0, 731.0],
 [3337.0, 565.0],
 [3807.0, 828.0],
 [1777.0, 362.0],
 [1127.0, 185.0],
 [2023.0, 301.0],
 [850.0, 229.0],
 [3861.0, 795.0],
 [3552.0, 704.0],
 [3124.0, 560.0],
 [2015.0, 413.0],
 [1004.0, 220.0],
 [2926.0, 562.0],
 [6227.0, 1317.0],
 [3250.0, 550.0],
 [1775.0, 347.0],
 [2987.0, 539.0],
 [2433.0, 454.0],
 [1299.0, 174.0],
 [10722.0, 1617.0],
 [2668.0, 510.0],
 [873.0, 177.0],
 [2279.0, 538.0],
 [1988.0, 402.0],
 [3464.0, 519.0],
 [1198.0, 251.0],
 [2246.0, 552.0],
 [1050.0, 288.0],
 [74.0, 19.0],
 [4369.0, 1353.0],
 [2965.0, 812.0],
 [1545.0, 420.0],
 [2226.0, 480.0],
 [455.0, 70.0],
 [2476.0, 506.0],
 [3240.0, 481.0],
 [2603.0, 576.0],
 [1005.0, 230.0],
 [1408.0, 307.0],
 [371.0, 74.0],
 [896.0, 208.0],
 [1320.0, 256.0],
 [2940.0, 708.0],
 [916.0, 194.0],
 [1217.0, 199.0],
 [3652.0, 499.0],
 [1243.0, 365.0],
 [1310.0, 267.0],
 [5892.0, 837.0],
 [701.0, 130.0],
 [2806.0, 477.0],
 [1865.0, 384.0],
 [2369.0, 413.0],
 [1655.0, 450.0],
 [4066.0, 819.0],
 [2229.0, 458.0],
 [2532.0, 621.0],
 [1297.0, 327.0],
 [1048.0, 185.0],
 [1958.0, 386.0],
 [1200.0, 221.0],
 [5512.0, 765.0],
 [1138.0, 296.0],
 [3727.0, 685.0],
 [969.0, 206.0],
 [1947.0, 355.0],
 [1417.0, 353.0],
 [4061.0, 927.0],
 [2294.0, 389.0],
 [2193.0, 499.0],
 [1886.0, 586.0],
 [5692.0, 1346.0],
 [2080.0, 365.0],
 [2793.0, 706.0],
 [3557.0, 890.0],
 [680.0, 273.0],
 [1521.0, 352.0],
 [1186.0, 300.0],
 [1087.0, 174.0],
 [2104.0, 388.0],
 [1054.0, 269.0],
 [3978.0, 1073.0],
 [172.0, 42.0],
 [3287.0, 649.0],
 [2879.0, 542.0],
 [2491.0, 656.0],
 [2830.0, 502.0],
 [3417.0, 533.0],
 [5252.0, 760.0],
 [8874.0, 1302.0],
 [1792.0, 322.0],
 [3899.0, 763.0],
 [2767.0, 584.0],
 [1033.0, 232.0],
 [3449.0, 598.0],
 [4481.0, 901.0],
 [1000.0, 206.0],
 [2285.0, 435.0],
 [1949.0, 464.0],
 [1760.0, 283.0],
 [2065.0, 535.0],
 [2377.0, 476.0],
 [3759.0, 489.0],
 [833.0, 130.0],
 [409.0, 97.0],
 [19.0, 19.0],
 [2173.0, 819.0],
 [1774.0, 299.0],
 [5051.0, 1054.0],
 [3165.0, 533.0],
 [3611.0, 614.0],
 [568.0, 145.0],
 [1486.0, 296.0],
 [1715.0, 623.0],
 [11976.0, 2495.0],
 [1061.0, 230.0],
 [2341.0, 395.0],
 [1120.0, 283.0],
 [2633.0, 630.0],
 [3355.0, 666.0],
 [1704.0, 418.0],
 [3254.0, 598.0],
 [1414.0, 274.0],
 [2774.0, 451.0],
 [666.0, 132.0],
 [1224.0, 267.0],
 [5805.0, 852.0],
 [2334.0, 530.0],
 [642.0, 203.0],
 [2867.0, 786.0],
 [40.0, 8.0],
 [492.0, 139.0],
 [3441.0, 584.0],
 [2610.0, 756.0],
 [1430.0, 273.0],
 [365.0, 98.0],
 [3217.0, 716.0],
 [5715.0, 1154.0],
 [1691.0, 286.0],
 [2991.0, 500.0],
 [104.0, 20.0],
 [3367.0, 545.0],
 [2992.0, 609.0],
 [4937.0, 1139.0],
 [4524.0, 735.0],
 [1121.0, 291.0],
 [1650.0, 496.0],
 [1630.0, 456.0],
 [321.0, 101.0],
 [1271.0, 276.0],
 [8953.0, 1074.0],
 [2490.0, 527.0],
 [7030.0, 1191.0],
 [5650.0, 1084.0],
 [2107.0, 809.0],
 [1107.0, 479.0],
 [2998.0, 470.0],
 [180.0, 89.0],
 [3385.0, 669.0],
 [2339.0, 548.0],
 [3132.0, 469.0],
 [557.0, 216.0],
 [2104.0, 393.0],
 [1616.0, 322.0],
 [2814.0, 675.0],
 [1022.0, 183.0],
 [3030.0, 413.0],
 [1139.0, 299.0],
 [1762.0, 463.0],
 [325.0, 74.0],
 [4266.0, 1010.0],
 [2621.0, 416.0],
 [4220.0, 908.0],
 [3409.0, 493.0],
 [1446.0, 181.0],
 [994.0, 185.0],
 [2862.0, 394.0],
 [1283.0, 256.0],
 [1289.0, 280.0],
 [500.0, 159.0],
 [1374.0, 248.0],
 [2307.0, 583.0],
 [759.0, 140.0],
 [4424.0, 834.0],
 [2367.0, 402.0],
 [2250.0, 430.0],
 [6121.0, 1222.0],
 [4638.0, 716.0],
 [2616.0, 547.0],
 [1401.0, 246.0],
 [4018.0, 1067.0],
 [754.0, 200.0],
 [1724.0, 432.0],
 [2191.0, 493.0],
 [3303.0, 512.0],
 [1907.0, 323.0],
 [3598.0, 701.0],
 [38.0, 8.0],
 [1184.0, 316.0],
 [2172.0, 605.0],
 [1583.0, 347.0],
 [2084.0, 400.0],
 [2923.0, 604.0],
 [204.0, 62.0],
 [16.0, 4.0],
 [2099.0, 397.0],
 [95.0, 13.0],
 [2782.0, 502.0],
 [1570.0, 274.0],
 [4013.0, 985.0],
 [1075.0, 597.0],
 [4402.0, 563.0],
 [3281.0, 531.0],
 [2541.0, 1282.0],
 [2238.0, 479.0],
 [4109.0, 884.0],
 [1898.0, 460.0],
 [6955.0, 2062.0],
 [1777.0, 368.0],
 [5121.0, 899.0],
 [2563.0, 658.0],
 [3740.0, 691.0],
 [2015.0, 356.0],
 [1749.0, 422.0],
 [3900.0, 776.0],
 [2235.0, 433.0],
 [3428.0, 753.0],
 [2349.0, 312.0],
 [1118.0, 195.0],
 [4190.0, 690.0],
 [1975.0, 384.0],
 [314.0, 57.0],
 [6341.0, 1030.0],
 [972.0, 269.0],
 [1411.0, 330.0],
 [6358.0, 1182.0],
 [729.0, 172.0],
 [3085.0, 610.0],
 [3074.0, 794.0],
 [1485.0, 345.0],
 [1937.0, 537.0],
 [2901.0, 871.0],
 [2792.0, 615.0],
 [1276.0, 292.0],
 [928.0, 195.0],
 [1790.0, 361.0],
 [2322.0, 459.0],
 [2552.0, 576.0],
 [3096.0, 757.0],
 [1495.0, 292.0],
 [3811.0, 585.0],
 [1165.0, 210.0],
 [1745.0, 370.0],
 [2101.0, 337.0],
 [2395.0, 431.0],
 [5438.0, 871.0],
 [5644.0, 757.0],
 [907.0, 207.0],
 [2273.0, 495.0],
 [2043.0, 511.0],
 [3036.0, 533.0],
 [2102.0, 403.0],
 [1797.0, 327.0],
 [5683.0, 755.0],
 [1513.0, 374.0],
 [1858.0, 366.0],
 [3888.0, 827.0],
 [1442.0, 285.0],
 [2297.0, 573.0],
 [2696.0, 640.0],
 [3595.0, 953.0],
 [2715.0, 451.0],
 [1122.0, 287.0],
 [2468.0, 552.0],
 [2275.0, 397.0],
 [2664.0, 651.0],
 [1838.0, 441.0],
 [2405.0, 541.0],
 [4202.0, 986.0],
 [2941.0, 558.0],
 [855.0, 172.0],
 [2543.0, 439.0],
 [1055.0, 298.0],
 [1180.0, 216.0],
 [2075.0, 424.0],
 [1858.0, 493.0],
 [488.0, 63.0],
 [1285.0, 193.0],
 [3075.0, 564.0],
 [1113.0, 186.0],
 [41.0, 17.0],
 [3959.0, 1196.0],
 [950.0, 300.0],
 [5846.0, 1035.0],
 [1332.0, 417.0],
 [1213.0, 228.0],
 [4236.0, 879.0],
 [396.0, 99.0],
 [1638.0, 434.0],
 [1125.0, 195.0],
 [1051.0, 244.0],
 [1690.0, 327.0],
 [1221.0, 236.0],
 [2144.0, 423.0],
 [887.0, 219.0],
 [1564.0, 270.0],
 [83.0, 15.0],
 [2323.0, 406.0],
 [2715.0, 458.0],
 [2581.0, 528.0],
 [5367.0, 1207.0],
 [3753.0, 761.0],
 [1910.0, 352.0],
 [1341.0, 256.0],
 [1111.0, 229.0],
 [1713.0, 285.0],
 [3038.0, 1533.0],
 [2956.0, 393.0],
 [4356.0, 1334.0],
 [1137.0, 203.0],
 [1948.0, 341.0],
 [2331.0, 359.0],
 [1964.0, 314.0],
 [3819.0, 550.0],
 [1487.0, 242.0],
 [1239.0, 237.0],
 [2701.0, 576.0],
 [2887.0, 351.0],
 [588.0, 157.0],
 [1321.0, 295.0],
 [4235.0, 735.0],
 [4033.0, 715.0],
 [4563.0, 1069.0],
 [3854.0, 1046.0],
 [2064.0, 484.0],
 [238.0, 51.0],
 [2604.0, 837.0],
 [2181.0, 505.0],
 [1868.0, 291.0],
 [2643.0, 418.0],
 [2011.0, 557.0],
 [2789.0, 503.0],
 [2088.0, 358.0],
 [1068.0, 190.0],
 [2522.0, 547.0],
 [2171.0, 386.0],
 [2785.0, 577.0],
 [7105.0, 1447.0],
 [617.0, 162.0],
 [2635.0, 516.0],
 [831.0, 149.0],
 [9311.0, 1703.0],
 [1487.0, 468.0],
 [2130.0, 455.0],
 [1355.0, 214.0],
 [1545.0, 341.0],
 [1475.0, 403.0],
 [852.0, 237.0],
 [126.0, 24.0],
 [2946.0, 695.0],
 [6130.0, 1359.0],
 [1732.0, 435.0],
 [6308.0, 1167.0],
 [10212.0, 1424.0],
 [18123.0, 3173.0],
 [2247.0, 573.0],
 [1789.0, 434.0],
 [769.0, 205.0],
 [1689.0, 378.0],
 [1610.0, 406.0],
 [1577.0, 343.0],
 [3797.0, 668.0],
 [3208.0, 1111.0],
 [2009.0, 519.0],
 [1668.0, 324.0],
 [2259.0, 408.0],
 [1411.0, 233.0],
 [4671.0, 912.0],
 [1244.0, 242.0],
 [956.0, 159.0],
 [1032.0, 207.0],
 [831.0, 231.0],
 [2257.0, 429.0],
 [5106.0, 1010.0],
 [2618.0, 582.0],
 [2215.0, 440.0],
 [2756.0, 557.0],
 [4162.0, 967.0],
 [3748.0, 609.0],
 [520.0, 115.0],
 [8020.0, 1432.0],
 [2325.0, 598.0],
 [2914.0, 562.0],
 [1798.0, 331.0],
 [1815.0, 376.0],
 [1438.0, 364.0],
 [3797.0, 597.0],
 [3163.0, 832.0],
 [2143.0, 580.0],
 [2387.0, 424.0],
 [1792.0, 301.0],
 [3557.0, 894.0],
 [3405.0, 831.0],
 [5301.0, 1281.0],
 [2366.0, 392.0],
 [1959.0, 342.0],
 [1630.0, 362.0],
 [1954.0, 513.0],
 [1659.0, 237.0],
 [3163.0, 712.0],
 [3562.0, 439.0],
 [11654.0, 2100.0],
 [1766.0, 288.0],
 [980.0, 171.0],
 [1787.0, 508.0],
 [563.0, 194.0],
 [2178.0, 629.0],
 [1373.0, 264.0],
 [2300.0, 335.0],
 [1212.0, 314.0],
 [3121.0, 381.0],
 [1722.0, 372.0],
 [1118.0, 219.0],
 [2985.0, 474.0],
 [2022.0, 413.0],
 [3170.0, 572.0],
 [277.0, 89.0],
 [1831.0, 274.0],
 [3222.0, 511.0],
 [2090.0, 519.0],
 [1966.0, 348.0],
 [1696.0, 279.0],
 [1502.0, 367.0],
 [1096.0, 260.0],
 [1633.0, 243.0],
 [907.0, 176.0],
 [2413.0, 524.0],
 [1473.0, 312.0],
 [952.0, 209.0],
 [1785.0, 288.0],
 [11635.0, 2055.0],
 [5928.0, 1097.0],
 [27870.0, 5027.0],
 [2035.0, 383.0],
 [3920.0, 570.0],
 [1349.0, 519.0],
 [2824.0, 633.0],
 [1139.0, 328.0],
 [1412.0, 185.0],
 [2144.0, 400.0],
 [3856.0, 867.0],
 [3662.0, 834.0],
 [2064.0, 342.0],
 [1378.0, 272.0],
 [3059.0, 729.0],
 [999.0, 232.0],
 [3038.0, 529.0],
 [477.0, 119.0],
 [3395.0, 1059.0],
 [1472.0, 228.0],
 [1789.0, 292.0],
 [308.0, 38.0],
 [1601.0, 464.0],
 [3403.0, 1367.0],
 ...]

In [62]:
ar1=[1,2,3,4]
ar2=[4,5,6,7]

se1=pd.Series(ar1)
se2=pd.Series(ar2)

print(se1.corr(se2))

1.0