<a href="https://colab.research.google.com/github/Es-YES-Ye/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%B0%98%EB%B3%B5%EB%AC%B8(%EA%B4%80%EB%A0%A8_%ED%95%A8%EC%88%98).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#리스트 관련 함수

In [1]:
ls = [10,98,11,23,45,77,6]
print("최소값 : ", min(ls))
print("최대값 : ", max(ls))
print("합계 : ", sum(ls))

최소값 :  6
최대값 :  98
합계 :  270

In [4]:
#리스트 뒤집기
#변수이름.멤버메소드 => 어떤 개체에 종속적이다. 함수와 목적은 같다.
#자기 자신이 바뀐다. 내용이 바뀐다.

ls.sort() #리스트 내 요소들 정렬
print(ls)
ls.reverse() #역순 정렬
print(ls)

[6, 10, 11, 23, 45, 77, 98]
[98, 77, 45, 23, 11, 10, 6]

In [7]:
#리스트 뒤집기
#함수 중에 reversed 도 있다.
#자기 자신을 바꾸기보다 변환한 것을 반환한다.

rls = reversed(ls)
for elem in rls:
  print(elem, end=' ')
print()
print(ls)

ls[::-1] #확장 슬라이싱으로 뒤집기
print(ls)

88 57 23 10 5 4 3
[3, 4, 5, 10, 23, 57, 88]
[3, 4, 5, 10, 23, 57, 88]

In [6]:
#enumerate()
#열거하기 위한 개체

ls = [3,4,5,10,23,57,88]
els = enumerate(ls)
print(els)
print(list(els)) #튜플로 출력

<enumerate object at 0x7f51f6597aa0>

In [8]:
#enumerate() 사용하는 법

ls = [2,5,7,9,22,36,89]
for index, elem in enumerate(ls):
  print(f"{index}:{elem}")

0:2
1:5
2:7
3:9
4:22
5:36
6:89

#딕셔너리

In [9]:
ex_dict = {}
ex_dict["남궁길동"]=5
ex_dict["독고길동"]=54
ex_dict["제갈길동"]=95
ex_dict["선우길동"]=21
ex_dict["고길동"]=76
print(ex_dict)

{'남궁길동': 5, '독고길동': 54, '제갈길동': 95, '선우길동': 21, '고길동': 76}

In [10]:
print(ex_dict.items())

dict_items([('남궁길동', 5), ('독고길동', 54), ('제갈길동', 95), ('선우길동', 21), ('고길동', 76)])

In [11]:
#key 와 value 열거하는 법
for key, value in ex_dict.items():
  print(f"key:{key} value:{value}")

key:남궁길동 value:5
key:독고길동 value:54
key:제갈길동 value:95
key:선우길동 value:21
key:고길동 value:76

In [13]:
#정렬
sdict = sorted(ex_dict)
print(sdict)

['고길동', '남궁길동', '독고길동', '선우길동', '제갈길동']

#고급진 list comprehension 

머신러닝, 딥러닝에서 자주 사용한다

리스트 이름=[표현식 for 반복자 in 반복할 수 있는 것]

리스트 이름=[표현식 for 반복자 in 반복할 수 있는 것 if 조건문]

In [14]:
#1~100까지 3의 배수 리스트 만들기

ls = []
#for i in range(0, 100, 3): 0에서 100까지를 3씩 증가해라
for i in range(100):
  if i % 3 == 0:
   ls.append(i)
print(ls)

#같은 의미
ls = [i for i in range(1,100) if i%3==0]
print(ls)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [16]:
#1~100까지 구성한 리스트 만들기 
ls=[]
for i in range(1,100):
  ls.append(i)
print(ls)

#같은 의미
ls = [i for i in range(1, 100)]
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]