<a href="https://colab.research.google.com/github/Es-YES-Ye/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%98%88%EC%A0%9C_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def hello():
  print("안녕하세요")

In [ ]:
hello()

안녕하세요

In [ ]:
def weather(day, sky, n):
  for i in range(n):
    print(day + sky)

In [ ]:
weather("오늘","하늘 맑음", 3)

오늘하늘 맑음
오늘하늘 맑음
오늘하늘 맑음

In [ ]:
def milk(n, *values):
  for i in range(n):
    for value in values:
      print(value)
    print()

In [ ]:
milk(3, "딸기우유", "초코우유", "커피우유", "흰 우유")

딸기우유
초코우유
커피우유
흰 우유

딸기우유
초코우유
커피우유
흰 우유

딸기우유
초코우유
커피우유
흰 우유

In [ ]:
def coffee(cup, *values, n=2):
  print(cup)
  for i in range(n):
    for value in values:
      print(value)
      print("호로록")

In [ ]:
coffee("Venti", "아이스아메리카노")

Venti
아이스아메리카노
호로록
아이스아메리카노
호로록

In [ ]:
coffee("Venti", "핫초코", n=5)

Venti
핫초코
호로록
핫초코
호로록
핫초코
호로록
핫초코
호로록
핫초코
호로록

In [ ]:
def test(a,b=10, c=100):
  print(a+b+c)

#1) 기본 형태
test(10, 20, 30)
#2) 키워드 매개변수로 모든 매개변수를 지정한 형태
test(a=10, b=100, c=200)
#3) 키워드 매개변수로 모든 매개변수를 마구잡이로 지정한 형태
test(c=50, a=120, b=30)
#4) 키워드 매개변수로 일부 매개변수만 지정한 형태
test(10, c=200)

60
310
200
220

#데이터 신뢰성을 높이는 멤버 - 설정자, 접근자

멤버 필드의 가시성을 차단하고 필요하면 설정자와 접급자를 제공하자.


설정자 - 멤버 필드에 값을 설정하는 메소드

접근자 - 멤버 필드에 값을 확인하는 메소드

In [ ]:
def pen():
  print("분홍색")
  return
  print("파란색")

pen()

분홍색

In [ ]:
def num():
  print("숫자 하나")
  return 100
  print("숫자 둘")

num()

숫자 하나

100

In [ ]:
def test():
  return

print(test())

None

In [ ]:
def sum_all2(start, end): #함수를 선언
  result = 0 #변수 선언
  for i in range(start, end+1): #for반복문으로 start부터 end까지
    result += i #숫자를 더한다
  return result #총 결과값을 return 한다

print(sum_all2(0,100)) #함수를 호출

5050

In [ ]:
def sum_all(name, start=0, end=100, step=1):
  output=0
  for i in range(start, end+1, step):
    output+=i
  return name, output

In [ ]:
sum_all('A', 0, 10, 1) , sum_all('B', end=20) , sum_all('C', start=98) , sum_all('D', end=10, step=2)

(('A', 55), ('B', 210), ('C', 297), ('D', 30))