<a href="https://colab.research.google.com/github/Es-YES-Ye/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%98%88%EC%99%B8%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

구문 오류 : 코드의 문법적 잘못에 의해 발생하는 오류

런타임 오류 : 실행 시점에 발생하는 오류

In [1]:
#구문 오류 예

print("Hell) 
#SyntaxError: EOL while scanning string literal

SyntaxError: ignored

In [2]:
num1 = int(input("정수 : "))
num2 = int(input("정수 : "))
print(num1/num2) #0을 입력하면 에러

정수 : 0
정수 : 0

ZeroDivisionError: ignored

In [ ]:
num1 = int(input("정수 : "))
num2 = int(input("정수 : "))
try:
  print(num1/num2)
except:
  pass
print("yahoo")

In [3]:
num1 = int(input("정수 : "))
num2 = int(input("정수 : "))
try:
  print(num1/num2)
except:
  print("비정상")
else:
  print("정상")

정수 : 4
정수 : 2
2.0
정상

In [4]:
num1 = int(input("정수 : "))
num2 = int(input("정수 : "))
try:
  print(num1/num2)
except:
  print("비정상")
else:
  print("정상")
finally:
  print("절레절레전래동화")

정수 : 2
정수 : 3
0.6666666666666666
정상
절레절레전래동화

예외 개체 사용

In [7]:
#예외종류에 따라 처리하는 코드

try:
  num1 = int(input("정수 : "))
  num2 = int(input("정수 : "))
  print(num1/num2)
except Exception as ex:
  print(ex)
  print(type(ex))
else:
  print("정상")

정수 : 3
정수 : 0
division by zero
<class 'ZeroDivisionError'>

In [9]:
try:
  num1 = int(input("정수 : "))
  num2 = int(input("정수 : "))
  print(num1/num2)
except ValueError as ex:
  print(ex)
  print("값을 잘못 전달하였습니다.")
except ZeroDivisionError as ex:
  print(ex)
  print("젯수는 0이 될 수 없습니다.")
else:
  print("정상")

정수 : ㅇㄹㄴㅁ
invalid literal for int() with base 10: 'ㅇㄹㄴㅁ'
값을 잘못 전달하였습니다.

In [10]:
try:
  num1 = int(input("정수 : "))
  num2 = int(input("정수 : "))
  print(num1/num2)
  ls=[1,2,3]
  n=int(input("1~3 중에 고르세요."))
  print(ls[n-1])
except ValueError as ex:
  print(ex)
  print("값을 잘못 전달하였습니다.")
except ZeroDivisionError as ex:
  print(ex)
  print("젯수는 0이 될 수 없습니다.")
except Exception as ex:
  print(ex)
  print("에러 발생") #모든 예외의 최상위 클래스가 Exception
else:
  print("정상")

정수 : 32
정수 : 1
32.0
1~3 중에 고르세요.10.2
invalid literal for int() with base 10: '10.2'
값을 잘못 전달하였습니다.

#예외를 발생시키기

In [12]:
#강제로 예외를 만든다

def getsum(start, end, step=1):
  if start>end:
    raise ValueError #예외를 발생시킨다.
  s = 0
  for i in range(start, end+1, step):
    s+=i
  return s

In [14]:
try:
  print(getsum(2,10))
  print(getsum(10,2))
except:
  print("예외발생")

54
예외발생