<a href="https://colab.research.google.com/github/Es-YES-Ye/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%8B%9C%EC%9E%91%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 간단한 계산

In [ ]:
1+2

# 명명

In [2]:
korea = 90
math = 80
sum = korea + math
sum

170

#주석

In [ ]:
#주석
a = 3 #벽수 a에 3 대입

# 출력문

In [3]:
print(12)
print("화나게 하지마!!")
print(12, 3, "뗴잉 쯧")

12
화나게 하지마!!
12 3 뗴잉 쯧

In [ ]:
print("진달래꽃")
print()
print("나 보기가 역겨워")