<a href="https://colab.research.google.com/github/Es-YES-Ye/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%95%A8%EC%88%98(%EB%A7%8C%EB%93%A4%EA%B8%B0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#함수
자주 사용하는 알고리즘을 이름을 부여하여 만든 로직 혹은 코드 블록

로직 이름, 입력 매개변수 목록, 수행할 코드, 반환 값으로 구성

입력 매개변수 목록과 반환 값은 생략 가능


함수를 만드는 것을 함수 정의

함수를 사용하는 것을 함수 호출

In [4]:
#함수 이름: foo
#입력 매개변수 : 2개(a,b)
#수행 코드 : 두 개의 인자를 출력한 후 곱한 값을 반환
#반환 값 : a * b

def foo(a,b):
  print(f"a:{a} b:{b}")
  return a*b

In [5]:
re = foo(2,3) #함수 호출(반환 값을 re에 대입)
print(f"결과:{re}")
foo(3,4) #함수 호출(반환 값을 무시)

a:2 b:3
결과:6
a:3 b:4

12

In [9]:
#입력매개변수도 없고 리턴도 없는 함수도 있다.

def print_menu():
  print("1: 데이터 추가")
  print("2: 데이터 삭제")
  print("3: 데이터 검색")
  print("4: 전체 데이터 확인")
  print("0: 종료")

In [10]:
#입력매개변수는 없고 리턴은 있는 함수도 있다.

def menu_select():
  print_menu()
  return int(input("메뉴 선택: "))

In [11]:
while True:
  key = menu_select()
  if key==0:
    print("종료합니다")
    break
  if key==1:
    print("데이터 추가")
  elif key==2:
    print("데이터 삭제")
  elif key==3:
    print("데이터 검색")
  elif key==4:
    print("전체 데이터 확인")
  else:
    print("잘못 선택하였습니다.")

1: 데이터 추가
2: 데이터 삭제
3: 데이터 검색
4: 전체 데이터 확인
0: 종료
메뉴 선택: 1
데이터 추가
1: 데이터 추가
2: 데이터 삭제
3: 데이터 검색
4: 전체 데이터 확인
0: 종료
메뉴 선택: 2
데이터 삭제
1: 데이터 추가
2: 데이터 삭제
3: 데이터 검색
4: 전체 데이터 확인
0: 종료
메뉴 선택: 3
데이터 검색
1: 데이터 추가
2: 데이터 삭제
3: 데이터 검색
4: 전체 데이터 확인
0: 종료
메뉴 선택: 4
전체 데이터 확인
1: 데이터 추가
2: 데이터 삭제
3: 데이터 검색
4: 전체 데이터 확인
0: 종료
메뉴 선택: 8
잘못 선택하였습니다.
1: 데이터 추가
2: 데이터 삭제
3: 데이터 검색
4: 전체 데이터 확인
0: 종료
메뉴 선택: 9
잘못 선택하였습니다.
1: 데이터 추가
2: 데이터 삭제
3: 데이터 검색
4: 전체 데이터 확인
0: 종료
메뉴 선택: 0

특정 범위의 수와 합계를 구하는 함수

In [13]:
def getsum(start, end):
  s=0
  for i in range(start, end+1):
    s+=i
  return s

In [14]:
s = int(input("시작 : "))
e = int(input("끝 : "))
print(f"{s}에서 {e}까지 합계 : {getsum(s,e)}")

print(f"{1}에서 {100}까지 합계 : {getsum(1,100)}")

시작 : 1
끝 : 2
1에서 2까지 합계 : 3
1에서 100까지 합계 : 5050

In [16]:
#re = getsum(1,2,3) 정의한 함수와 다르게 인자를 전달하고 있음 - Type Error
#print(re)

TypeError: ignored

In [17]:
print()
print(1)
print(1,2)
print(1,2,end=' ')
print()

In [18]:
def soo(a, temp=1, yahoo='a'): #temp는 인자를 전달하지 않을 때 1을 디폴트 값으로, yahoo의 디폴트 값은 ' a'
  print(a,temp,yahoo) #a는 디폴트 값이 없어서 반드시 전달해야 한다.

In [19]:
soo(1)
soo(2, temp=2)
soo(3, yahoo=7)
soo(3,4)
soo(3,4,5)

1 1 a
2 2 a
3 1 7
3 4 a
3 4 5

In [23]:
def zoo(n=2, *values): # *가 붙어있는 건 가변인자, 가변변수
  print("============")
  print(n)
  for value in values:
    print(value, end= ' ')
  print()

In [24]:
zoo() #아무것도 전달하지 않으면 디폴트매개변수 하나만 출력
zoo(1)
zoo(2,3) #3은 values에 해당하는 부분
zoo(2,3,4,5) #3,4,5는 values에 해당하는 부분

============
2

============
1

============
2
3
============
2
3 4 5

In [26]:
name = input("이름 : ")
print(f"이름 : {name}")

이름 : 남궁길동
이름 : 남궁길동

In [27]:
def square(x):
  return x*x

In [29]:
for i in range(1,5):
  re = square(i)
  print(f"{i}의 제곱: {re}")
#리턴은 넣어도 되고 안 넣어도 된다.
#어떤 함수가 리턴하면 그 함수는 종료한다.

1의 제곱: 1
2의 제곱: 4
3의 제곱: 9
4의 제곱: 16

In [32]:
#함수 종료
def find_nearest_sum(start,goal):
  s=0
  while s<goal:
    s += start
    start += 1
    if(start==100):
      return s
  print("find!!")
  return s

In [34]:
re1 = find_nearest_sum(1,2000)
print(re)
print()
re2 = find_nearest_sum(1,2000000)
print(re2)
print()
re3 = find_nearest_sum(100, 200)
print(re3)

find!!
16

4950

find!!
201