<a href="https://colab.research.google.com/github/Es-YES-Ye/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EB%B3%B5%EC%8A%B5_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
#index와 columns가 명시되지 않은 DataFrame
data_list = np.array([[10,20,30],[40,50,60],[70,80,90]])
pd.DataFrame(data_list)

    0   1   2
0  10  20  30
1  40  50  60
2  70  80  90

In [9]:
#index 지정
index_date = pd.date_range('2022-01-01', periods=4)
#columns 지정
columns_list = ['A','B','C']
#values
data = np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
#values와 index, columns 지정
test = pd.DataFrame(data, index=index_date, columns=columns_list)
test

             A   B   C
2022-01-01   1   2   3
2022-01-02   4   5   6
2022-01-03   7   8   9
2022-01-04  10  11  12

In [10]:
#index만 확인 
#생성한 DataFrame데이터.index
test.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04'], dtype='datetime64[ns]', freq='D')

In [16]:
#loc로 특정한 행 조회(열도 가능)
#생성한 DataFrame데이터.loc['조회하고싶은 행']
test.loc['2022-01-01']

A    1
B    2
C    3
Name: 2022-01-01 00:00:00, dtype: int64

In [14]:
#columns만 확인
#생성한 DataFrame데이터.columns
test.columns

Index(['A', 'B', 'C'], dtype='object')

In [13]:
#특정한 column만 확인
#생성한 DataFrame데이터[column명]
test['A']

2022-01-01     1
2022-01-02     4
2022-01-03     7
2022-01-04    10
Freq: D, Name: A, dtype: int64

In [17]:
#values만 확인t
#생성한 DataFrame데이터.values
test.values

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [20]:
test.isnull()

                A      B      C
2022-01-01  False  False  False
2022-01-02  False  False  False
2022-01-03  False  False  False
2022-01-04  False  False  False

In [22]:
test.isnull().value_counts()

A      B      C
False  False  False    4
dtype: int64

In [23]:
test[test['A']==10]

             A   B   C
2022-01-04  10  11  12

In [24]:
type(test)

pandas.core.frame.DataFrame

In [25]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([10,11,12,13,14,15])
s1+s2

0    11.0
1    13.0
2    15.0
3    17.0
4    19.0
5     NaN
dtype: float64

In [36]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [37]:
s2

0    10
1    11
2    12
3    13
4    14
5    15
dtype: int64

In [39]:
table_data1 = {'A':[1,2,3,4,5],
               'B':[6,7,8,8,9],
               'C':[100,10,50,30,40]}
df1 = pd.DataFrame(table_data1)

data2 = np.array([[10,20],[30,40],[50,60],[70,80]])
df2 = pd.DataFrame(data2, columns=['A','B'])

df2 - df1

      A     B   C
0   9.0  14.0 NaN
1  28.0  33.0 NaN
2  47.0  52.0 NaN
3  66.0  72.0 NaN
4   NaN   NaN NaN

In [40]:
df1

   A  B    C
0  1  6  100
1  2  7   10
2  3  8   50
3  4  8   30
4  5  9   40

In [41]:
df2

    A   B
0  10  20
1  30  40
2  50  60
3  70  80

In [42]:
df1.sum()

A     15
B     38
C    230
dtype: int64

In [43]:
df2.std()

A    25.819889
B    25.819889
dtype: float64

In [44]:
s1.mean()

3.0

In [45]:
s2.var()

3.5

In [48]:
print(df2.min()) 
print()
print(df2.max())

A    10
B    20
dtype: int64

A    70
B    80
dtype: int64

In [49]:
df2.mean(axis=0)

A    40.0
B    50.0
dtype: float64

In [50]:
df2.mean(axis=1)

0    15.0
1    35.0
2    55.0
3    75.0
dtype: float64

In [51]:
df1.describe()

              A         B           C
count  5.000000  5.000000    5.000000
mean   3.000000  7.600000   46.000000
std    1.581139  1.140175   33.615473
min    1.000000  6.000000   10.000000
25%    2.000000  7.000000   30.000000
50%    3.000000  8.000000   40.000000
75%    4.000000  8.000000   50.000000
max    5.000000  9.000000  100.000000

In [57]:
data3 = {'Car':[40830, 39300, 59200, 52000, 42300, 47500],
         'Bike':[12500, 14200, 15030, 16000, 10900, 19900],
         'Plane':[79000, np.nan, 88000, 99900, 89900, 88500],
         'Train':[30000, 23400, 31200, 39000, 35500, 29900],
         'Walk':[5000, 6500, 7100, 8500, 5600, 9000]}

col3 = ['Car','Bike','Plane','Train','Walk']

index3 = ['2019','2020','2021','2022', '2023','2024']

df_tps = pd.DataFrame(data3, columns=col3, index=index3)
df_tps

        Car   Bike    Plane  Train  Walk
2019  40830  12500  79000.0  30000  5000
2020  39300  14200      NaN  23400  6500
2021  59200  15030  88000.0  31200  7100
2022  52000  16000  99900.0  39000  8500
2023  42300  10900  89900.0  35500  5600
2024  47500  19900  88500.0  29900  9000

In [59]:
df_tps.head(2)

        Car   Bike    Plane  Train  Walk
2019  40830  12500  79000.0  30000  5000
2020  39300  14200      NaN  23400  6500

In [61]:
df_tps.tail(3)

        Car   Bike    Plane  Train  Walk
2022  52000  16000  99900.0  39000  8500
2023  42300  10900  89900.0  35500  5600
2024  47500  19900  88500.0  29900  9000

In [62]:
df_tps[2:5]

        Car   Bike    Plane  Train  Walk
2021  59200  15030  88000.0  31200  7100
2022  52000  16000  99900.0  39000  8500
2023  42300  10900  89900.0  35500  5600

In [63]:
df_tps.loc['2023']

Car      42300.0
Bike     10900.0
Plane    89900.0
Train    35500.0
Walk      5600.0
Name: 2023, dtype: float64

In [64]:
df_tps.loc['2022' : '2024']

        Car   Bike    Plane  Train  Walk
2022  52000  16000  99900.0  39000  8500
2023  42300  10900  89900.0  35500  5600
2024  47500  19900  88500.0  29900  9000

In [65]:
df_tps['Bike']

2019    12500
2020    14200
2021    15030
2022    16000
2023    10900
2024    19900
Name: Bike, dtype: int64

In [66]:
df_tps['Bike']['2020' : '2023']

2020    14200
2021    15030
2022    16000
2023    10900
Name: Bike, dtype: int64

In [67]:
df_tps['Bike'][0 : 2]

2019    12500
2020    14200
Name: Bike, dtype: int64

In [70]:
df_tps.loc['2021']['Plane']

88000.0

In [71]:
df_tps.loc['2021', 'Plane']

88000.0

In [72]:
df_tps['Plane']['2021']

88000.0

In [73]:
df_tps['Plane'][2]

88000.0

In [74]:
df_tps['Plane'].loc['2021']

88000.0

In [75]:
df_tps.T

          2019     2020     2021     2022     2023     2024
Car    40830.0  39300.0  59200.0  52000.0  42300.0  47500.0
Bike   12500.0  14200.0  15030.0  16000.0  10900.0  19900.0
Plane  79000.0      NaN  88000.0  99900.0  89900.0  88500.0
Train  30000.0  23400.0  31200.0  39000.0  35500.0  29900.0
Walk    5000.0   6500.0   7100.0   8500.0   5600.0   9000.0

In [78]:
df_tps[['Walk','Bike','Train','Car','Plane']]

      Walk   Bike  Train    Car    Plane
2019  5000  12500  30000  40830  79000.0
2020  6500  14200  23400  39300      NaN
2021  7100  15030  31200  59200  88000.0
2022  8500  16000  39000  52000  99900.0
2023  5600  10900  35500  42300  89900.0
2024  9000  19900  29900  47500  88500.0